<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>ui</Title>
			<Shortcut>ui</Shortcut>
			<Description>Code snippet for 'unsigned'</Description>
			<Author>Davit Bakhshyan</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[unsigned $end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>