<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>cwe</Title>
			<Shortcut>cwe</Shortcut>
			<Description>Code snippet for 'std::cout'</Description>
			<Author>Davit Bakhshyan</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Declarations>
				<Literal>
					<ID>type</ID>
					<Default> </Default>
					<ToolTip>Control variable type</ToolTip>
				</Literal>
			</Declarations>
			<Code Language="cpp"><![CDATA[std::cout << $type$ << std::endl;$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>
