<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>ll</Title>
			<Shortcut>ll</Shortcut>
			<Description>Code snippet for 'long long'</Description>
			<Author>Davit Bakhshyan</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[long long $end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>